.buscar{
  left: 39%;
  top: 120px;
  position: absolute;
  font-weight: bold black;
  font-size: 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0 15px;
  background-color: #261681;
  color: #807373;
  opacity: 0.9;
  font-family: "Pokemon Solid";
}
.inputs[type="text"] {
  background-color: transparent;
  border-radius: 10px ;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 3px;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 0 6px #fff;
  box-shadow: 0 0 6px #fff;
  width: 55%;
  font-family: "Pokemon Solid";
}


.buttons{
  font-family: "Pokemon Solid";
  font-family: "Pokemon Solid",cursive;
  background-color: transparent;
  border-radius: 10px ;
   border-bottom: 1px solid #fff;
   outline: none;
   padding: 2 px;
   color: #fff;
   font-size: 18px;
   text-shadow: 0 0 10px #fff;
   box-shadow: 0 0 10px #fff;
   width: 35%;
}

.buttons:hover {
  
  background-color: #227bce;
}