.buscar{
  left: 2%;
  top: 110px;
  position: absolute;
  font-weight: bold black;
  font-size: 20px;
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0 15px;
  background-color: #261681;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  opacity: 0.9;
}
.inputs[type="text"] {
  background-color: transparent;
  border-radius: 10px ;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 3px;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 0 6px #fff;
  box-shadow: 0 0 6px #fff;
  width: 55%;
}


.buttons{
  font-family: "Pokemon Solid",cursive;
  background-color: transparent;
  border-radius: 10px ;
   border-bottom: 1px solid #fff;
   outline: none;
   padding: 2 px;
   color: #fff;
   font-size: 18px;
   text-shadow: 0 0 10px #fff;
   box-shadow: 0 0 10px #fff;
   width: 35%;
}

.buttons:hover {
  
  background-color: #405986;
}