.filteratack{
  font-family: "Pokemon Solid";
  left: 1%;
  position: absolute;
      top: 310px;;
        padding: 3px 7px 7px 4px;
      font-weight: bold rgb(43, 71, 196);
      font-size: 20px;
      width: 20%;
      padding: 25px 30 25px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 15px 0 15px;
      background-color: #261681;
      color: #e2d3d3;
      opacity: 0.9;
      border-radius: 25px;
      border: 2px;
      border-bottom: 1px solid #fff;


  }

.buscarba{
  font-family: "Pokemon Solid";
  left: 26%;
  position: absolute;
      top: 245px;
      font-weight: bold black;
      font-size: 20px;
      width: 20%;
      display: flex;
      justify-content: space-between;
      margin: 15px 15px 0 15px;
      background-color: #261681;
      color: #fff;
      opacity: 0.9;
      border-bottom: 1px solid #fff;
}
.filtroT{
  font-family: "Pokemon Solid";
    position: absolute;
  top: 404px;
  left: 15px;
  font-weight: bold black;
  font-size: 20px;
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0 15px;
  background-color: #261681;
  color: #fff;
  opacity: 0.9;
border-radius:25px ;}
.inputs[type="text"] {
  background-color: transparent;
  border-radius: 10px ;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 3x;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 0 6px #fff;
  box-shadow: 0 0 6px #fff;
  width: 55%;
}

  .filtroad{
    font-family: "Pokemon Solid";
left: 1%;
position: absolute;
    top: 224px;
    font-weight: bold black;
    font-size: 20px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0 15px;
    background-color: #261681;
    color: #fff;
    opacity: 0.9;
    border-bottom: 1px solid #fff;
    border-radius: 25px;

  }
  .inputs[type="text"] {
    background-color: transparent;
    border-radius: 10px ;
    outline: none;
    padding: 3px;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 0 6px #fff;
    box-shadow: 0 0 6px #fff;
    width: 55%;
    border-bottom: 1px solid #fff;

  }      


  .opciones{
    color: #f5ebeb;
    background-color: #3d10a7;
    font-family: Arial,cursive,;
    font-size: 18px;
    padding: auto;
    border-radius: 3px;
    border-bottom: 1px solid #fff;

  }
  .orderad{
    font-family: "Pokemon Solid";
    left: 1%;
    position: absolute;
        top: 495px;;
        font-weight: bold black;
  font-size: 20px;
  width: 23%;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 0 15px;
  background-color: #261681;
  color: #fff;
  opacity: 0.9;
  border-bottom: 1px solid #fff;
  border-radius: 18PX;


      }
    