.titulo{
    color: #e22b2b;
  text-shadow: 2px 2px 0 #e0dd12, 4px 4px 0 #1e31dd, 6px 6px 0 #5a5950;
  transform: rotateY(0.5deg);
  font-size: 240%;
  font-family: "Pokemon Solid";
}
.containerf{
    opacity: 0.7;
    border-radius: 4px;
    border-color: #c1d31d;
    height: auto;
    font-family: "Pokemon Solid";

}
.buttoncreate{
  font-size: 20px;
  font-weight: 800 ;
  margin-top: 20px;
  font-family: "Pokemon Solid";
     padding: 10px 30px;
    color: #e2e4d4;
    background-color: #e91212;
    border: 1em rgb(227, 241, 21) solid;
    border-radius: 65px;
    box-shadow: 0 0 20px #06460e,
                0 0 40px #065a06,
                0 0 60px #085a1d,
                0 0 80px #065037;
    text-shadow: 0 0 10px #0f6934,
                 0 0 20px #302a2a,
                 0 0 10px #252424,
                 0 0 40px #1d1b1d,
                 0 0 70px #1f1d1f,
                 0 0 80px #272627,
                 0 0 100px #161616;
    animation: neon-animation 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes neon-animation {
    from {
      opacity: 0.7;
    }
    to {
      opacity: 1;
    }
  }
  
.buttoncreate::before {
  content: "";
  top: -60%;
  left: 0;
  width: 90%;
  height: 60%;
  background-color: darkorange;
  z-index: -1;
  border-radius: 8px;
  transform: translateY(5px);
  }
  .buttoncreate:active{
    transform: translateY(5px);
  box-shadow: none;

  }
.buttoncreate:active::before{
  transform: translateY(0);
}
.imgfor{
    background-image: url("../../image/POKECREATE.png" );
     position: absolute;
     opacity: 0.9;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: beige;
    font-family: "Pokemon Solid";
}

.input[type="text"], input[type=""], textarea {
  font-family: "Pokemon Solid";
    flex: 1; 
    border: 1px solid black;
    padding: 5px;
    border-radius: 25px;
  
    background-color: rgb(179, 161, 161);
    opacity: 0.9;
    color: rgb(37, 35, 35);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
  }
   
  .label{
    font-family: "Pokemon Solid";
    display: flexbox;
    width: 100px; 
    text-align: right;
    margin-right: 10px;
    background: #0d0e0d;
    font-size: 15px;
    font-weight: 800 ;
    margin-top: 8px;
      padding: 10px 20px;
      color: #000000;
      background-color: #daec34;
      border: 1em rgb(185, 185, 28) ;
      border-radius: 65px;
      box-shadow: 0 0 20px #06460e,
                  0 0 40px #dbf0db,
                  0 0 60px #cad6cd,
                  0 0 80px #c8d3cf;
      text-shadow: 0 0 10px #d5dbd7,
                   0 0 20px #f3ecec,
                   0 0 10px #e61c1c,
                   0 0 40px #f0e8f0,
                   0 0 70px #d32424,
                   0 0 80px #e7dbe7,
                   0 0 100px #f30d0d;
  
  }

   
.error {
  font-family: "Pokemon Solid";
color: #2e2d2d;   
font-family: Arial, Helvetica, sans-serif;
box-shadow: 0 0 20px #06460e,
0 0 40px #dbf0db,
0 0 60px #cad6cd,
0 0 80px #dd5d07;
text-shadow: 0 0 10px #d5dbd7,
 0 0 20px #e22d2d,
 0 0 10px #e61c1c,
 0 0 40px #be1fbe,
 0 0 70px #d32424,
 0 0 80px #f01313,
 0 0 100px #f30d0d;


}      
.opcionesf{
  font-family: "Pokemon Solid";
  color: #f5ebeb;
  background-color: #d16a6a;
  font-family: Arial,cursive,bold;
  font-size: 18px;
  border-radius: 10px;
}
