.containernav {
  color: rgb(103, 41, 173);
  display: flex;
}

.buttonH {
  display: flex;
  align-items: center;
  font-weight: 10px ;
  width: 140px;
  height: 50px;
  margin-top: 5px;
  font-family: "Pokemon Solid";
      padding: 1px 20px;
    color: #bbdd22;
    background-color: #131312;
    border: 1em rgb(47, 54, 151) solid;
    border-radius: 65px;


}

.buttonF {
  display: flex;
  align-items: center;
  font-weight: 10px ;
  width: 140px;
  height: 50px;
  margin-top: 5px;
  font-family: "Pokemon Solid";
      padding: 1px 20px;
    color: #bbdd22;
    background-color: #131312;
    border: 1em rgb(47, 54, 151) solid;
    border-radius: 65px;
}


.cajita {
  background-color: #f01414;
}
